@import url(adapt.css);
@import url(header.css);
@import url(main.css);
@import url(footer.css);
@import url(burger_menu.css);
.oswald{
    font-family:'Oswald';
    font-size: 48px;
}
.gugi{
    font-family: 'Gugi';
    font-size: 32px;
    margin: 0;
}
.lusitana{
    font-family: 'Lusitana';
    font-size: 45px;
}
.limelight{
    font-family: 'Limelight';
    font-size: 48px;
}
.kumar_one{
    font-family: 'Kumar One';
    font-size: 48px;
    margin: 0;
    color: #434443;
}
.quicksand{
    font-family: 'Quicksand';
    font-size: 24px;
}
body{
    background-color: #B0CFC6;
    color: black;
    width: 100%;
    margin: 0;
}
body .wrapper{
    display: flex;
    flex-direction: column;
    overflow: clip;
}
[class*="_container"]{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}